/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.signup {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Background Image and Centering */
.user-signup {
    background: url('../img/SignBackground.jpg') no-repeat center center/cover;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

/* Form Container */
.signup-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px; 
    border-radius: 15px;
    backdrop-filter: blur(5px);
    max-width: 800px; 
    width: 100%;
    color:white;

}

/* Title Styling */
.signup-title {
    font-size: 26px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

/* Section Titles */
.signup-section-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 25px;
    text-align: left;
}

/* Form Row */
.signup-row {
    display: flex;
    justify-content: space-between;
    margin: 15px 0; 
}

/* Form Column */
.signup-column {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.signup-row{
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-bottom: 12px 12px;
}

/* Input Fields */
.signup-column input, .signup-column select {
    padding: 12px; 
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.85);
    font-size: 14px;
    margin-top: 12px
}

/* Submit Button - Centered */
.signup-button-container {
    width: 100%;  
    text-align: center; 
    margin-top: 25px;
}

.signup-submit-button {
    background-color: #0D6EFD;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.signup-submit-button:hover {
    background-color: #084298;
}

/* Login Link - Centered */
.signup-login-link {
    text-align: center; 
    margin-top: 15px;
}

.signup-login-link a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.signup-login-link a:hover {
    text-decoration: underline;
}
